[2013-02-23 20:22] ralfstx opened #1 "Provide JsonArray.getValue( int )"

[2013-02-23 20:22] ralfstx opened #2 "Add JavaDoc"

[2013-02-23 20:23] ralfstx opened #3 "Add README file"

[2013-02-23 20:40] #1 closed, assigned to nobody

[2013-02-23 23:52] #3 closed, assigned to nobody

[2013-02-24 00:01] ralfstx opened #4 "Consider renaming append() methods to add()"

[2013-02-24 00:02] ralfstx opened #5 "Enable chaining of add/append() methods"
Example:
    JsonArray array = new JsonArray().add( 23 ).add( true );

[2013-02-25 22:11] #5 closed, assigned to nobody

[2013-03-02 16:55] #4 closed, assigned to nobody

[2013-03-02 21:53] ralfstx opened #6 "Rename internal JsonPrimitive as JsonLiteral"
To be more precise, this class is used for literals, not for primitive types.

[2013-03-02 21:54] ralfstx opened #7 "Revise visibility"
For example, ParseException does not need a public constructor.

[2013-03-02 22:03] ralfstx opened #8 "Revise usage of UnsupportedOperationException in asXxx() methods"
When asXxx methods are used internally, e.g. in static factory methods, a UOE is not appropriate.

[2013-03-03 10:30] ralfstx opened #9 "Improve performance when accessing JsonObject values by name"
Even for small numbers of elements, hash lookup is much faster than sequential search in a list.

[2013-03-03 14:03] #2 closed, assigned to nobody

[2013-03-03 14:09] #6 closed, assigned to nobody

[2013-03-03 14:21] ralfstx opened #10 "Support custom JSON formatting"

[2013-03-03 16:15] #7 closed, assigned to nobody

[2013-03-03 17:24] ralfstx opened #11 "Support creating JSON numbers from custom types like BigDecimal"
Making `JsonNumber` public would allow to create JSON numbers that does not fit into any of the primitive Java types. Examples would be numbers with arbitrary precision, e.g. BigInteger and BigDecimal. Alternatively, factory methods could be offered for these two types.

[2013-05-15 14:15] ralfstx opened #12 "Provide static factory methods for JsonArray"
Ideally, these factory methods should support varargs. Not sure about the method name.

    JsonArray.createArray( 1, 2, 3 );

Or should the methods go to JsonValue to be next to valueOf( ... )?

    JsonValue.createArray( "a", "b", "c" );

Or on a Util class like so:

    Json.createJsonArray( 1, 2, 3 );

[2013-07-13 19:38] SimonMayerhofer opened #13 "Support modify Values"
I think there should be a method which supports modifying the content of a value.
For example, when I have a array with 5 entries and I want to change the 3rd one. I have to make a 'temp' array where I add() entry 1 to 2 then add() a modified entry 3 and after that add the last 2 entries.
Now I have to remove() the array which I want to modify and add() the modidied Array.

This would be much easi

[2013-07-13 23:49] #13 closed, assigned to nobody

[2013-07-17 20:15] ralfstx opened #15 "Revise behavior for duplicate object members"
JsonObject does not prevent duplicate names, because RFC 4627 does not. For example, it is possible to create a JsonObject for `{ "a": 1, "a": 2 }`.

In case of duplicate names in an object, the behavior of the methods _get()_ and _remove()_ should be revised. The current behavior is that `get( name )` returns the value of the _first_ matching member, and also `remove( name )` deletes only the fir

[2013-07-20 08:52] #15 closed, assigned to nobody

[2013-07-20 11:35] #9 closed, assigned to nobody

[2013-10-04 11:01] ralfstx opened #16 "IOOBE after JsonObject.remove"
The following code

[code]

leads to

[code]

[2013-10-04 12:37] #16 closed, assigned to nobody

[2013-10-10 20:38] ralfstx opened #17 "Provide streaming API for reading"
It should be possible to
- register a handler that receives callbacks during parsing
- avoid creating an object representation of the entire input in this mode
- interrupt the parsing at any point

[2013-11-07 03:55] motdotla opened #18 "Up on maven?"
Is this available on the online maven repository? I cannot find it.

[2013-11-10 22:37] kanishkaganguly opened #19 "Accessing nested array in JSON"
This is not exactly an issue, but I need help accessing an array nested within a larger array in a JSON response.

[2013-11-13 09:53] #19 closed, assigned to nobody

[2013-11-25 19:57] #18 closed, assigned to nobody

[2014-02-10 19:12] user454322 opened #20 "Incorrect exception type?"
#### I like this library....but I found that:

`JsonObject.readFrom(String)` 's javadoc says that it throws an `UnsupportedOperationException` but it actually throws a `com.eclipsesource.json.ParseException`

### Description

In `JsonObject` either the javadoc or the code is wrong.

the method's javadoc `readFrom(String)` says
[code]
However,  if the input doesn't contain a JSON object it throws a

[2014-02-12 13:24] christianbalzer opened #21 "add changelog"
It would be good to have a changelog available, so users can see if upgrading makes sense to them - and what the latest stable release is...

[2014-02-13 09:20] #21 closed, assigned to nobody

[2014-02-19 14:29] christianbalzer opened #22 "Mailing list?"
Is there a user mailing list/forum for minimal-json?

[2014-03-02 11:39] ghost opened #23 "Json Object Merge"
Hi,

Thanks for the great library.

Is it possible to support merging for the JsonObject.

json-smart has similar feature: https://code.google.com/p/json-smart/wiki/MergeSample

[2014-03-26 22:05] 239 opened #24 "jsonvalue.isInteger()"
Why are methods like `isInteger()` missing? Are simplicity and minimalism the reasons?
Right now there is only `isNumber()` so I use

[code]

additionally as a workaround to check whether the number is an "integer" or not.

[2014-03-26 22:26] 239 opened #25 "jsonvalue.cutOffPointZero(String s)"
When setting values to floating point numbers which end on ".0" like this
`jsonobject.set("test", (double) 21.0)`
then the number is automatically truncated to an integer: `{"test":21}`
If I set a double value then I would expect the result to be a double and not an integer.
I had to remove this method in my project to be able to differ between integer/long and float/double.
Is this method essenti

[2014-04-25 09:30] user454322 opened #26 "Implement RFC7159 section-4"
Currently `minimal-json` allows duplicated names, which is contrary to [section 4 of RFC7159](http://tools.ietf.org/html/rfc7159#section-4), which says: _The names within an object SHOULD be unique._

Other parsers throw an exception.  [JSON in Java](http://www.json.org/java/) for example throws

[code]

[2014-04-26 17:42] angelozerr opened #27 "Continue to support minimal json?"
Ralf,

I would like to know if you have intention to continue to support minimal json (last commit comes from 5 month)? Perhaps minimal json is now mature?

I post this question, because I'm using json-simple in https://github.com/angelozerr/tern.java and https://github.com/angelozerr/angularjs-eclipse and perhaps it could be more interesting to use minimal json (see https://github.com/angelozerr/

[2014-04-27 12:38] #27 closed, assigned to nobody

[2014-04-29 21:04] angelozerr opened #28 "minimal-json & P2 repository"
minimal-json is available on maven central repository, but is it available too on P2 repository?

[2014-05-22 15:44] mariolpantunes opened #31 "Minimal-json 0.9.2 to maven central"
Is it possible to add minimal-json 0.9.2 in maven central?

[2014-07-21 09:29] angelozerr opened #32 "JsonWriter with indent"
It should be cool if we could customize the JsonWriter to indent JSON.

An indent option could be added in the JsonValue#writeTo(Writer writer, Integer indent) to indent the JSON stream.

[2014-07-22 08:38] #32 closed, assigned to nobody

[2014-12-18 13:07] cakoose opened #34 "Make it easier to run performancetest"
I'm trying to run the benchmark.  The performancetest subproject's README.md says: "To run a benchmark, use the benchmark's main method."

It took me a while before I realized I needed to run the command to copy all the JARs into "lib" and then launch things manually:

[code]

Two ways to make life easier:
1. Make things work with "mvn exec:java" (see "mvn exec:java doesn't work", below).  That's

[2014-12-30 20:56] #34 closed, assigned to nobody

[2014-12-30 22:48] #31 closed, assigned to nobody

[2014-12-31 18:58] #28 closed, assigned to nobody

[2015-01-13 10:08] Euphrates-Media opened #39 "Gradle"
How can I install minimal-json library using Gradle?

Thank

[2015-01-16 11:54] ralfstx commented on #39
Gradle can handle Maven dependencies, see http://www.gradle.org/docs/current/userguide/dependency_management.html#sub:maven_central

The following should work:
[code]

[2015-01-16 11:54] #39 closed

[2015-01-17 12:32] ralfstx commented on #22
Closing this issue because it's inactive. Please reopen if you think there is a need for another communication channel.

[2015-01-17 12:32] #22 closed

[2015-02-01 14:12] angelozerr commented on #10
@ralfstx do you think you will have time to work on this issue?

In my case I need to generate JSON with indentation.

[2015-02-01 16:31] ralfstx commented on #10
Actually, I'm currently working on it ;-)

My plan is to start with a built-in pretty-printer that outputs each value on a separate line, indented by 2 spaces, for example:

[code]

I guess that will be okay in most cases. Would that be sufficient for you as well?

[2015-02-02 08:33] angelozerr commented on #10
@ralfstx very cool! I'm waiting for your release in order I will integrate it to tern.java. Thanks!

[2015-02-02 21:53] ralfstx commented on #10
A new optional parameter `config` has been added to the `toString` and `writeTo` methods. Example:

[code]

More fine-grained parameters will be added to WriterConfig.

@angelozerr if you like to try it, you can build your own version from master (mvn clean install) rather than waiting for the release.

[2015-02-03 10:01] angelozerr commented on #10
Thanks @ralfstx!

I will try it, but I would like to wait the release of minimal-json because our update site is updated each time we push something in our git.

[2015-02-10 10:22] julien-diener opened #41 "Add to doc code to parse both object and array json string"
Hi,

I was looking for a way to parse both json object or array and test afterward which one it is. I found a way but I think it should be added to the readme doc. Here is what I did:

        try{
            JsonValue value = JsonValue.readFrom(jsonString);
            if (value instanceof JsonObject) {
                object = (JsonObject) value;
            } else {
                array = (Js

[2015-02-10 10:32] julien-diener opened #42 "Use JSONObject and JSONArray class name?"
Why have you choose to not use the standard class names with upper `JSON`?

You could add `JSONObject` and `JSONArray` as empty subclasses, and have both?

[2015-02-11 15:07] ralfstx commented on #42
There's no "standard" class name. For acronyms in Java class names, both spellings are common, all-uppercase and camel-case. For example, the Gson parser also calls it `JsonObject`, others `JSONObject`. Another popular example is `HttpServlet` in javax.servlet.http.

I follow Joshua Bloch's advice in *Effective Java, 2nd edition, pg. 238* to use camel-case for acronyms as well to improve readabili

[2015-02-11 15:07] #42 closed

[2015-02-11 15:13] ralfstx commented on #41
You can use the `value.isXxx()` methods for checking the type and `value.asXxx()` for conversion. For example:
[code]

Where would you expect this example? Somewhere in the JavaDoc or on the GitHub page? I plan on setting up the GitHub wiki pages to add some more detailed documentation.

[2015-02-11 15:14] julien-diener commented on #42
When saying "standard" I was thinking about the [json api given by json.org](http://www.json.org/java/).
Now, I previously used json-simple, so I tought it was the "only" standard, but if gson use another one, I guess it is just a matter of choice.
(and I agree that camel-case is better for long acronyms)

[2015-02-11 15:20] julien-diener commented on #41
Thanks for the advise.
I am not sure where would be the best place to find this example. I thought about the readme because that is where I looked and did not find it. Now, I just wanted to share this little use case as it could be useful to others.

[2015-02-14 15:28] mpost opened #43 "JsonObject.getXXX methods should have variant which does not require default value"
Having to supply a default value on the JsonObject.getXXX methods is sometimes a bit tedious. Often times you just want the string to be null or the boolean to be false. So there should be a variant where it is not required to provide a default value.

[2015-03-01 12:45] ralfstx commented on #43
If I understand correctly, your suggestion is to add methods like `getInt(String)`, `getBoolean(String)`, etc. to `JsonObject`. These methods would return a "default fallback value" if the object does not contain a member with the given name. The obvious default value would be the initial value of the respective type (`0` for int, `false` for boolean, etc.).

Those methods would be ambiguous, as i

[2015-03-02 09:05] mpost commented on #43
I follow your reasoning to limit the scope of this library. My use case is to serialize a json object to a regular java object where leaving values in their default state would be the expected deserialization outcome. Therefore i have a lot of redundant method parameters that map to the default java value. If you think the feature is out of scope, feel free to close the issue.

[2015-03-22 22:04] lorenzop opened #44 "Support single quotes as well as double quotes?"
is it intentional that an exception is thrown if the json data uses single quotes ' rather than double quotes " ? if it's ok, I can work on adding support for single quotes, as it's something I'll need.

[2015-03-23 15:00] ralfstx commented on #44
It is intentional and should remain the default, because the JSON spec does not allow for single quotes. However, I plan on implementing a parser configuration that would allow for enabling extensions, such as support for single quotes or comments.

[2015-03-23 15:33] angelozerr opened #45 "JSON Schema support"
@ralfstx I'm developping a JSON Editor based on WTP https://github.com/angelozerr/eclipse-wtp-json (I will contribute to WTP soon).

I'm supporting JSON Schema for :

 * validation
 * completion.

by using JSON Schema at http://schemastore.org/

I have developed my own JSON Schema (works only for completion) because every JSON Schema written in Java doesn't support line number where there is an er

[2015-03-24 10:53] ralfstx commented on #45
Hi Angelo,
I see this as a part of #17. I plan on a streaming API that would allow you to hook into the parsing process and get the char positions for every element. This should also allow to create an alternative output such as JsonSchema.

[2015-03-25 07:09] angelozerr commented on #45
Thanks @ralfstx for your answer. For the moment I have copied/pasted minimal-json inside my project in order to update for my need by waiting for #17

If I can manage JsonSchema, are you interested to include it to minimal-json?

[2015-04-16 06:40] laktak opened #46 "Hjson"
I just wanted to thank you for minimal-json. I used it as a base for a [Hjson](http://hjson.org/) implementation.

https://github.com/laktak/hjson-java

[2015-05-13 14:01] angelozerr opened #47 "Provide minimal-json SNAPSHOT with maven with sonatype"
Like J2V8, it should be cool if SNAPSHOT minimal-json could be available at https://oss.sonatype.org/content/repositories/snapshots/com/eclipsesource/

[2015-05-15 20:13] ralfstx commented on #47
Thanks for the suggestion. I was not aware of this possibility. Snapshots are now available at https://oss.sonatype.org/content/repositories/snapshots/com/eclipsesource/minimal-json/.

The process is still manual but simple enough (`mvn clean deploy`). I'll also look into an automated deployment by the CI.

[2015-05-15 20:13] #47 closed

[2015-05-15 22:10] ralfstx commented on #46
Cool! Thanks for the note.

Surprised that your parser has only 80 LOC more than the minimal-json one!

[2015-05-15 22:10] #46 closed

[2015-05-16 15:56] angelozerr opened #48 "Cannot use 0.9.3 from maven central"
Perhaps it's my fault, but I have changes my pom with 0.9.3:

[code]

, and I have the following errors :

[code]

Any help are welcome, thanks!

[2015-05-16 16:01] angelozerr commented on #46
@laktak perhaps you could do a PR to add your project at https://github.com/ralfstx/minimal-json/blob/master/README.md#who-is-using-minimal-json

[2015-05-16 16:40] sbandara commented on #48
I also get a build failure in one of my projects for the same dependency declaration, although the error looks slightly different, see "dev" branch at  https://travis-ci.org/sbandara/cloud-pokes

The good news is that builds against the previous release appear to be still intact, at least in my tests.

[2015-05-19 09:37] ralfstx commented on #48
Thanks, I'll look into it. I've used the maven-release-plugin for the first time, chances are that I've messed up something.

[2015-05-31 06:24] ralfstx commented on #25
Maybe an additional `precision` or `format` parameter in the `valueOf` method could help?

[2015-05-31 07:33] ralfstx commented on #20
Throwing a ParseException is correct, because the provided string is invalid JSON. If you rewrite your test to read a valid JSON string, i.e. include quotes, then an `UnsupportedOperationException` is thrown:

[code]

Question is if something like a "JsonTypeException" wouldn't be a better choice.

[2015-05-31 07:33] #20 closed

[2015-05-31 18:45] sbandara commented on #12
For the sake of keeping minimal-json minimal, a util class `Json` would look the very least attractive to me. Since you already have collection type-specific factories like `JsonArray.readFrom`, my favorite would be `JsonArray.createArray`. Need an assignee?

[2015-06-01 21:26] koen-serry opened #51 "Weird null behaviour"
When parsing {"abc":null}

jsonObject.getLong("abc",0);

throws a NumberFormatException because the value is somehow converted to "null"

Unsure if we're supposed to use jsonObject.get().isNull() or if we could enhance the method below to do the null checking instead.

[code]

[2015-06-01 21:35] sbandara commented on #51
Since the API specification says

So I think the behavior you observe is correct, and checking with `isNull()` would be a good idea, especially since there is no reasonable other value `asLong()` could possibly return.

[2015-06-01 21:46] koen-serry commented on #51
It's a pity though to provide such a handy (clean) default function and then have to wrap it with an isNull? To which spec are you referring to? Json spec doesn't seem to mention java. I've added a pull request, just in case.

[2015-06-01 22:12] sbandara commented on #51
I meant to refer to the API specification, but the issue you point out is even more subtle than that. The more obvious problem with replacing the JSON literal `null` as defined in `JsonLiteral.NULL` for `null` is that it would result in `JsonObject.get` return `null` for both the JSON literal `null` and for any non-existent member. Many people use minimal-json and expect it to return `null` if the

[2015-06-01 22:37] koen-serry commented on #51
Would you agree this sound like implementing Undefined in java?

[2015-06-02 07:10] sbandara commented on #51
Maybe you can convince Ralf to change the API specification slightly such that `getLong` and its siblings return the default value not only when `get` returns `null` but also for `JsonLiteral.NULL`. That may be a bit less invasive...

[2015-06-02 07:32] ralfstx commented on #51
As it has been pointed out already, there is a difference between `{"foo": null}` and `{}`. Calling `jsonObject.get("foo")` would return `JsonValue.NULL` in the first case and `null` in the latter case. I think it's obvious that this distinction is needed.

As for @sbandara's suggestion to let the getter functions with a default return that default also in case of null, this sounds reasonable to m

[2015-06-02 07:39] koen-serry commented on #51
Yes that sounds reasonable (default to null when eg. getString('foo','n/a') is being called). As for the invalid entries I would deal with them the same way. The whole idea of having a default is to have a fallback in case something is wrong (type or value)

[2015-06-02 08:07] ralfstx opened #52 "Introduce class Json for constants and static factory methods?"
With the constants `NULL`, `TRUE`, and `FALSE` defined on `JsonValue`, these constants are inherited by the subtypes of `JsonValue`. For example, the expression `JsonArray.TRUE` would compile although it doesn't make any sense. The same is true for static factory methods. The expression `JsonArray.valueOf(true)` would also compile and return `JsonValue.TRUE` which is not an instance of `JsonArray`

[2015-06-02 08:13] ralfstx commented on #12
@sbandara Actually, I have this idea of a `Json` class for quite some time and find it more and more appealing for the reasons outlined in #52.

Implementation is the least of all efforts, but I'm thankful for thoughts and discussion!

[2015-06-02 21:14] sbandara commented on #52
This all looks really clean and would be fun to use. Since you can't override static methods, I guess you'd also move all parser access there as well?

[2015-06-04 11:19] ralfstx commented on #52
The static `readFrom` methods don't have this problem. For example, `JsonArray.readFrom()` shadows `JsonValue.readFrom()`, but both methods make sense and return the expected type.

However, when this new `Json` class becomes the central entrypoint to the API, it would certainly make sense to provide these methods there as well, e.g. `Json.readArray()`, `Json.readObject()` ...

[2015-06-04 11:24] ralfstx commented on #51
Wouldn't it be unexpected when `getInt("size", -1)` returns 23 for `{"size": 23}` but -1 for `{"size": 23.5}`?

[2015-06-04 12:45] koen-serry commented on #51
Not really as it's a default. If one would want a fallback you can put a wrapping try catch block around it without the default.

[2015-06-06 13:46] ralfstx commented on #17
### Use cases for a streaming API

It seems that there are different use cases to take into account

#### reading without creating data

One example is syntax highlighting in an editor. For this case you don't care about the content, only about the text positions where syntactical elements begin and end. Another example could be analyzing/verifying the structure of a JSON. In this case, the conten

[2015-06-06 17:39] ralfstx commented on #51
Did you really get a `NumberFormatException` or an `UnsupportedOperationException`? I get the following trace:

    java.lang.UnsupportedOperationException: Not a number: null
	at com.eclipsesource.json.JsonValue.asLong(JsonValue.java:329)
	at com.eclipsesource.json.JsonObject.getLong(JsonObject.java:577)

That's expected with the current contract, but a NFE would be a bug.

[2015-06-16 06:15] thjaeckle opened #55 "minimal-json 0.9.3 maven dependency not usable"
Hi there.

With version 0.9.3 which is available in maven central:
http://search.maven.org/#artifactdetails|com.eclipsesource.minimal-json|minimal-json|0.9.3|bundle

it seems there was a maven parent pom introduced.
But this parent pom is not available in Maven central, so when using minimal-json 0.9.3 my build fails with:
[code]

[2015-06-16 07:32] angelozerr commented on #55
It's the same issue than https://github.com/ralfstx/minimal-json/issues/48

[2015-06-16 16:35] jitpack-io commented on #55
Perhaps this will help in the meantime https://jitpack.io/#ralfstx/minimal-json/0.9.3

[2015-06-16 20:31] laurakolker commented on #48
I'm having the same error. Both with repositories http://repo.maven.apache.org/maven2 and https://repo1.maven.org/maven2 . In both cases it seems the pom downloads fine, but can't get to the downloading the JAR step, presumably because it can't find the referenced parent.

Here's what that looks like in the console:
[code]
You can see that the pom is downloaded in the 2nd line, but then it goes hu

[2015-06-17 06:59] ralfstx commented on #48
Actually, the only purpose of this parent pom is to allow building and testing both modules in this repository in a single step from the repo root. Only the minimal-json module is published on Maven Central. In order to use the maven release plug-in I made some structural changes that included the parent pom in the dependency chain, something I didn't expect.

It was my mistake not to try installi

[2015-06-17 07:03] ralfstx commented on #48
From https://github.com/ralfstx/minimal-json/issues/55#issuecomment-112490753:

[2015-06-17 07:04] ralfstx commented on #55
@jitpack-io Thanks, I'll will give it a try!

[2015-06-17 07:04] ralfstx commented on #55
Closing as dup of #48

[2015-06-17 07:04] #55 closed

[2015-06-17 08:15] ralfstx commented on #48
The workaround provided by @jitpack-io seems to work:

[code]

That may also be a nice way to consume snapshots.

[2015-06-19 18:37] laurakolker commented on #48
Works like a charm. Thanks!

[2015-06-23 17:52] tomasz commented on #48
We can't declare the `minimal-json` dependency using Maven central because this way:

	<dependencies>
		<dependency>
			<groupId>com.eclipsesource.minimal-json</groupId>
			<artifactId>minimal-json</artifactId>
			<version>0.9.3</version>
		</dependency>
	</dependencies>

because its packaging is declared as a `bundle` and not as the default `jar` vide: https://github.com/ralfstx/minimal-json/blob

[2015-06-30 06:37] thjaeckle commented on #48
Is there a workaround for using 0.9.3 from maven central? Unfortunately adding another repository is not an option for me :/
Would love to use the "merging" feature of 0.9.3 :)

[2015-07-03 13:17] pacher commented on #48
+1 Please don't give up on maven central just because jitpack seems to work

[2015-07-03 17:08] ralfstx commented on #48
@pacher I won't give up, but I'm afraid I don't have a solution for 0.9.3. However, 0.9.4 will be out very soon and I'll double check releases on maven central before flipping the switch from now on.

[2015-07-03 17:26] pacher commented on #48
@ralfstx Thanks a lot.

[2015-07-08 07:16] pcarrier opened #56 "Lighter dependency for mxdump?"
jackson is a big dependency  (relatively to other components).

`WriterConfig.PRETTY_PRINT` from https://github.com/ralfstx/minimal-json offers similar functionality for a tenth of the size.

[2015-07-08 07:55] ralfstx commented on #56
What is mxdump? @pcarrier Did you mean to open this issue in another repository?

Happy if minimal-json suits your needs. Just to let you know there is a dependency issue (#48) with the current version in Maven Central that will be fixed in the next version.

[2015-07-08 10:01] pcarrier commented on #56
Oops, indeed wrong window. Sorry.

[2015-07-08 10:01] #56 closed

[2015-07-08 11:51] angelozerr commented on #17
@ralfstx for your information, I try to contribute to Eclipse IDE with [Eclipse WTP JSON](https://github.com/angelozerr/eclipse-wtp-json). See https://bugs.eclipse.org/bugs/show_bug.cgi?id=471820

I would like to support JSON Schema validation by using minimal-json to report error with location. To do that I need that JsonValue provide a getLocation kind.

The streaming API could help me a lot to

[2015-07-08 12:42] ralfstx commented on #17
@angelozerr the streaming feature is high on my list and there were a lot of good ideas in #49 that will need some time to consolidate. It's out of scope for 0.9.4, but I hope to include it in the release after that. Maybe late summer, but no promises.

BTW, I also used a modified version of minimal-json in [eclipsesource/jshint-eclipse](https://github.com/eclipsesource/jshint-eclipse) to be able

[2015-07-08 12:51] angelozerr commented on #17
Ok that's cool. For the moment I use the copy of minimal-json that I adapt it.

Yes I have seen that, but in my case it's for a JSON Schema validator. In this case the JSON to validate is valid (none exception). When JSON Schema processor doens't match a rule (eg : a JsonValue doesn't match a type, I need to have the location of this node). In other words I need the whole location of the Json node

[2015-07-08 13:38] ralfstx commented on #17
With location, you mean start and end offset, right? I'll let you know when I have a draft proposal to make sure that it fits for your needs.

[2015-07-08 13:43] angelozerr commented on #17
Exactly, and I think I will need for JsonObject :

 * start/end location for "names" . Ex : when a property name doesn't exists in the schema.
 * start/end location for "values". Ex : when a value has not the well type.

[2015-07-12 21:31] #12 closed

[2015-07-12 21:31] #52 closed

[2015-07-13 08:40] kristian commented on #48
@ralfstx Any update for 0.9.4, I am also struggeling with the parent POM not found...? Thanks

[2015-07-13 09:04] ralfstx commented on #48
@kristian I plan to release 0.9.4 next Sunday (2015-07-19).

[2015-07-13 09:05] kristian commented on #48
@ralfstx Looking forward to it. Thanks a lot. Greetings to Karlsruhe from Waghäusel ;-)

[2015-07-17 10:46] phikal commented on #23
Isn't this closed now?

[2015-07-17 10:50] ralfstx commented on #23
Right, thanks! Implemented as of 3f18ecb5c99e82dcfbcd1db3d31f3109ed957820.

[2015-07-17 10:50] #23 closed

[2015-07-19 15:19] #41 closed

[2015-07-19 19:04] #48 closed

[2015-07-22 14:13] mafagafogigante commented on #51
I want to express my opinion about this. I know I don't **need** to update my dependencies, but this proposal is just wrong.

**No**. It is a default, not a fallback. If it is not present, give me the default, if I find an elephant when expecting a maple tree, please let me know.

A default value is not supposed to be the if-anything-wrong-happens-give-me-this, if a system wrote a string to a valu

[2015-07-22 14:30] mafagafogigante commented on #26
I am also worried about the validation process. Imagine how much additional memory an object with thousands of fields would require and how many CPU cycles it would take to hash every single name, not to mention the time for hash collision resolution. So your mantra - however beautiful¹ - should be left aside for now.

¹ I second it.

Additionally, programmatically ensuring this is not necessary a

[2015-07-22 16:25] koen-serry commented on #51
While I agree that having a default is not necessarily the same as a fallback. It all comes down to what you're going to do with it. The code sample you gave above is a very simple example of what you could do if you want to handle every tiny little variation of the value given. In practice you'd want to avoid it since it'll make your code pretty much unreadable let alone maintainable (if you go a

[2015-07-22 17:48] ralfstx commented on #51
You can call `toString` on a JsonNumber, which will return the JSON string of that number. If you're asking for implicit type conversions, this would be another issue. But I'm almost certain that is a box we don't want to open.

[2015-07-22 17:56] mafagafogigante commented on #51
Prove your claim. That function could be placed in a top-level class and shared project-wide, maybe even system-wide.

You are implying that a JSON library is something simple and here we are discussing API contracts.
Also, it is **not** an Error. It is a RuntimeException.

There is this little thing called [design by contract](https://en.wikipedia.org/wiki/Design_by_contract) which is how most se

[2015-07-23 08:11] ralfstx commented on #51
Thanks @mafagafogigante for your insights, the distinction between a *default* and a *fallback* really nails it. I've been pondering with this issue, and I see the point of providing convenient APIs. However, the suggested behavior of returning the default value also in case of an unexpected type doesn't seem right to me.

It would require to swallow exceptions, which is dangerous, as it has the p

[2015-07-23 10:52] ralfstx commented on #51
Still there is a case that concerns me:

[code]

will accept `null` and set `"foo"` to `Json.NULL`. This was done for the sake of convenience, and it seemed like the obvious implementation as there is a JSON representation for `null`.

OTOH, `object.getString("foo", "unknown")` would currently fail because the literal `null` is not a string. This is at least asymmetric and it may be unexpected.

[2015-07-23 11:21] mafagafogigante commented on #51
I beg to differ.

Application code should check if foo is there by using `object.get("foo").isNull()` if the system uses `null` to mean unknown (otherwise just compare the `get` result with `null` or - as aforementioned - recur to the `getString` method if there is a default value for these cases). It is a problem for whoever started setting "not there" and "unknown" to `null`.

From the Javadoc

[2015-09-07 08:23] Highlander4h opened #58 "Can't iterate over type: class com.eclipsesource.json.JsonArray"
Hi,

In the readme I see that it should be possible to iteratie over the elements of a JsonArray, but when I try that I get an error "Can't iterate over type: class com.eclipsesource.json.JsonArray".

I'm using JMeter 2.13 BeanShell Postprocessor and used the example from http://eclipsesource.com/blogs/2014/06/12/parsing-json-responses-with-jmeter/

The scripts looks like this:
[code]
The for-loop

[2015-09-07 09:01] ralfstx commented on #58
Could you provide a stacktrace please? Which version of minimal-json are you using and which JRE?

[2015-09-07 10:13] Highlander4h commented on #58
Hi Ralf,
I'm using minimal-json-0.9.4 and jre build 1.8.0_51-b16
I've tried to get a stacktrace, but cannot seem to force it to give me a stacktrace. I've post a question on the JMeter board for that.

As soon as I get a stacktrace working for this I will post it.

This is the information I currently get:
2015/09/07 12:07:50 INFO  - jmeter.engine.StandardJMeterEngine: All thread groups have been s

[2015-09-07 10:52] Highlander4h commented on #58
Hi Ralf,
I got a response from one of the JMeter developers.
He responded that AFAIK BeanShell does not support the new-style for loops.
So the probleem seems to be JMeter related instead of your code.

Sorry for the inconvenience :-)

[2015-09-07 12:31] ralfstx commented on #58
@Highlander4h, thanks for the update! So you should be able to fix the problem by transforming the for loop into an old-style loop (using iterator.hasNext() etc.).

[2015-09-07 12:31] #58 closed

[2015-12-01 08:36] thjaeckle opened #61 "StackOverflowError when Json.parse()'ing a deeply nested JSON"
Hi.
We found out that when parsing a very (very very) deeply nested JSON Object (~ 4.000 levels) with `Json.parse(String)` minimaljson runs out of "Stack" with a `java.lang.StackOverflowError` (which is quite understandable) :)
Of course this is no "use case" for us - it just came up during a pentest which then caused a JVM crash.

Would it be possible to add a configuration to the `JsonParser` wh

[2015-12-01 08:56] ralfstx commented on #61
That's an interesting finding, thanks! I guess the maximum stack size depends on the VM and probably even on the operating system, so it would be hard to guess. But we could explicitly catch `StackOverflowError` and throw a `ParseException`.

[2015-12-01 09:03] thjaeckle commented on #61
That's we we now also do as a workaround.
The question is if this should not be handled earlier (fail fast ;))?
MongoDB's BSON parser for example throws a `org.bson.BsonSerializationException: Maximum serialization depth exceeded (does the object being serialized have a circular reference?).` at about 500-1000 nested levels.

It would be quite easy to "count" the level in `JsonParser.readValue()`:

[2015-12-01 11:47] ralfstx commented on #61
I agree. Since `StackOverflowError` is a subclass of `Error`, it

It's certainly better to terminate before the VM goes out of resources.

[2015-12-01 13:25] mafagafogigante commented on #61
@thjaeckle Can you share some specifications of the JVM that crashed?

I agree with a limit about 1K, if anyone needs more than that with JSON, their data is very badly structured.

[2015-12-01 14:10] thjaeckle commented on #61
For reproducing locally it was an Oracle JDK 1.8.0_45 - without `-Xss` explicitly set.
But it occurred at some point also on the production system with an OpenJDK 1.8.0_65 started with `-Xss1M`.

[2016-01-16 15:48] jackwilsdon opened #62 "Retrieving line of JsonValue in file?"
Is it possible to find the line of a JsonValue in a file? I'd like to throw an exception relating to an invalid field value and it would be nice if I could provide the line of the issue, also meaning I can retrieve the actual text itself to include in the exception.

It would be useful for generating exceptions like this:

[code]

[2016-01-16 16:54] mafagafogigante commented on #62
I am not the maintainer, but I am almost sure I know the code enough the reply this. No, there is not a way to retrieve the line number.

The JsonParser class throws exceptions with the line number, but those refer to invalid JSON (syntactically), not an invalid value (semantically).

A good alternative may be logging some context together with the invalid value (other values, the object or array

[2016-01-16 17:12] angelozerr commented on #45
@ralfstx for your information Eclipse WTP JSON is now included in the WTP git repository (it will available for Neon)!

So no I think the JsonSchema feature is a very important thing. When do you think could you have time to support https://github.com/ralfstx/minimal-json/issues/17 in order to get the char positions for every element.?

Many thanks for your help.

[2016-01-16 21:40] sbandara commented on #62
Ralf intends to provide a streaming API for minimal-json. Among many things this will allow you to validate values and throw context-rich exceptions just as you described. You could have a look at my pull request to this project from a while ago. You can obtain the line number of the offending value from the `ParserContext` object that is passed along with each parsing event.

[2016-01-26 20:02] #61 closed

[2016-01-26 21:53] ralfstx commented on #47
Use `deploy.sh` in `com.eclipsesource.json` to deploy snapshots.

[2016-01-27 08:56] ralfstx commented on #62
That's right, this should be possible with the streaming API. It's still on my list and hope to include it in the next release. Closing as a dup of #17.

[2016-01-27 08:56] #62 closed

[2016-01-27 08:57] ralfstx commented on #45
@angelozerr I know I promised the streaming API for last year already. I still have it on my list for the next release and hope to get to it soon.

[2016-02-05 19:00] Gyannea commented on #51
It might be late to comment on this rather long conversation but I was having a problem working with JSON generated by other libraries because it would do something like the following:
"secondName":null
So I solved the issue by taking this

return value != null ?  value.asString() : defaultValue;

and making it this

return value != null ? (value.isNull() ? null : value.asString()) : defaultValue;

[2016-02-17 09:25] evandrix opened #63 "Support converting POJO => JSON"
right now, the conversion seems to be just only one-way, i.e. JSON string to custom Java object (JsonValue, JsonObject, ...)

[2016-03-01 07:41] angelozerr commented on #45
Thanks @ralfstx for your answer. Is there any chance that you will implement Streaming API? If yes, when you will have time to do that?

[2016-03-01 08:27] ralfstx commented on #45
@angelozerr Ok, I guess it's time to make a commitment. I have been working on a draft lately and I'm going to reserve the weekend March 12/13 for finishing it. Thanks for your patience.

[2016-03-13 21:50] #17 closed

[2016-03-13 22:00] ralfstx commented on #17
@angelozerr A first version of the streaming API has landed in the repository and a snapshot build is available at [oss.sonatype.org](https://oss.sonatype.org/content/repositories/snapshots/com/eclipsesource/minimal-json/minimal-json/). Some details may still change until the release.

[2016-03-13 22:27] ralfstx commented on #63
You *can* create JSON from your POJOs, but you have to do it yourself. Here's an example how to turn a simple POJO into JSON:

[code]

The reason minimal-json doesn't magically convert POJOs is that it aims at being

Mapping POJOs to JSON is not a trivial task. As an example, there's more than one method of formatting a date in JSON, a mapper would either have to guess offer some kind of configura

[2016-03-13 22:27] #63 closed

[2016-03-13 23:49] angelozerr commented on #17
Many thanks @ralfstx! I will play with your work and give you feedback ASAP.

[2016-05-09 02:57] awvalenti opened #65 "Shouldn't take object properties order into consideration"
I liked your library a lot, much simpler than most of the others. I found that a test here failed because the "id" property was in the end of the object instead of the beginning. According to json.org: "An object is an unordered set of name/value pairs".

[2016-05-09 03:19] awvalenti commented on #65
Here's a simple test case for the scenario described:

`assertEquals(Json.parse("{\"a\":1,\"b\":2}"), Json.parse("{\"b\":2,\"a\":1}"));`

[2016-05-09 10:09] mafagafogigante commented on #65
Right now names and values are stored using lists, so an order-independent comparison could be as expensive as O(m·n) where m and n are the number of values. How do other reference libraries do it?

I don't care about this from a practical standpoint (never showed up to me until now), but from a design perspective, this seems to be an issue. Good catch, @awvalenti.

[2016-05-10 08:06] ralfstx commented on #65
Actually, considering objects with the same set of members but a different order as *not equal* was a conscious decision.

I see `JsonObject` and `JsonArray` more as a representations of a JSON text that has been parsed or that is about to be read, than as collection classes to store data in an application. That's also why these classes don't implement Java Collection interfaces. And since the res

[2016-05-10 10:50] mafagafogigante commented on #65
@ralfstx I like the idea. I don't know if your reasoning for the `equals` method has been documented anywhere else, but it would be nice to have it in the source, not only on this issue.

Also, I would appreciate if the internal representation of JsonObject didn't change. This should not cause a performance hit, right?

[2016-05-10 15:30] ralfstx commented on #65
@mafagafogigante right, we should add JavaDoc for `JsonObject#equals()`. Currently, it inherits from `Object#equals`. Good point!

As for the performance, I don't think it's a problem if the new `equalsIgnoreOrder()` is slower than `equals()`, the documentation could explain that there is a price. We shouldn't sacrifice the internal structure just to speed up this method. Even if it's O(n^2), I su

[2016-05-10 15:49] mafagafogigante commented on #65
@ralfstx glad we agree on Javadoc'ing what we consider JsonObject equality. Documenting the decision is even more important than the decision itself.

I don't really care about the performance of equalsIgnoreOrder(), I just don't want the internal representation to change to allow for this. Again, good that we are on the same page about that too.

@awvalenti I suppose that this completely addresse

[2016-05-17 17:38] awvalenti commented on #65
Hello,

I see now that it was a conscious decision, especially after I found a test case specifically stating that. I don't quite agree that JsonObject and Array should represent a "text JSON", although I understand your point of view.

An ```equalsIgnoreOrder()``` would work. However, test output would be something like "expected true, found false" - not very informative.

Another possible soluti

[2016-05-17 17:43] mafagafogigante commented on #65
I think I disagree mainly because of the design rationale of this library. We start by giving it a equalsIgnoreOrder() because it seems almost a requirement to conform to JSON, then we get toMap and toList and two days later this is a clone of Jackson. It is not my call in the end, but I think that `toMap` and `toList` are a bit overboard. Not to mention that implementing those yourself if you nee

[2016-05-19 19:23] awvalenti commented on #65
Clone of Jackson? I've used Jackson a little and had problems with it, but why would these features lead minimal-json to becoming a copy of Jackson?

And what's your opinion about test output on failure?

[2016-05-19 20:36] mafagafogigante commented on #65
**minimal**-json cannot and **should** not get "nice features" for the sake of convenience.

I've missed that one, please provide a brief summary of what the question is.

[2016-05-24 03:22] awvalenti commented on #65
The question is:

[2016-05-24 04:16] mafagafogigante commented on #65
I do agree that "expected true, found false" is not very informative, as any reasonable developer would. However, I don't think that we should expose internals or add methods to address this type of issue. Better messages in your assertion calls would remediate it, as in "the JsonArray does not have the expected elements". Furthermore, if you want the explicit values to be shown, it shouldn't be h

[2016-05-28 16:52] awvalenti commented on #65
You got me convinced that minimal-json should in fact be minimal :).

However, ```equalsIgnoreOrder()``` also follows the direction of non-minimal approach, although on a lesser degree than ```toMap()```.

My opinion remains that ```equals()``` should not consider elements order. This is in accordance with JSON specification, which, for me, should be the top priority. To do this, I see two ways: o

[2016-05-28 18:33] mafagafogigante commented on #65
O(1) was a typo, right? The second solution is linear, not constant.

Equality checks would be linear indeed. However, populating a properly written dynamic array (ArrayList here) is substantially faster than populating a LinkedHashMap. The doubly linked list is not very expensive, but every insertion will call hashCode() now, which is **expensive** in some cases, while ArrayList's add() never cal

[2016-05-30 02:49] awvalenti commented on #65
Oops, O(1) was a typo, indeed. Sorry!

I see your point about performance and agree with it.

I haven't understand this part: "ask everyone to write ordering-independant equality checks". Which checks would those be?

About toMap() and toList(), it seems to me now that they could simply be implemented on the test case (something like ```assertEquals(toMap(expectedJsonObject), toMap(obtainedJsonObj

[2016-05-30 03:24] awvalenti commented on #65
Wait a second... I thought the map to be used would be a generic ```Map<K, V>```. But it's not: JsonObject keys are always Strings. The map would be ```Map<String, JsonValue>```. String's hashCode, from what I searched, is O(n) on the first call (where n is its length) and O(1) on subsequent calls (since the result is cached). In addition, properties names are usually just a few characters.

Are t

[2016-05-30 03:58] mafagafogigante commented on #65
I simply meant that I believe the library should provide an equalsIgnoreOrder() method. This is not something trivial to delegate to users. It is to some users, but not for all of them, I suppose. Also, by simply having an equals() and an equalsIgnoreOrder() methods it is made clear that equals() may not ignore ordering. Documentation in code at its best.

I am not sure if String hashCode() is cac

[2016-05-30 10:36] ralfstx commented on #65
@awvalenti we don't use `HashMap` for performance reasons. Our implementation is faster, especially for small objects, has a smaller memory footprint, and does not create wrapper objects for every element, which results in less work for the garbage collector. The same applies to `LinkedHashMap`.

[2016-05-30 19:28] ralfstx commented on #65
@mafagafogigante I'm not generally opposed to the idea of a `toMap()` method, but I see your concerns. In particular, I wonder how much value a `Map<String, JsonValue>` would provide beyond the use case of unit testing (which I absolutely see). I'm also afraid that some users would expect a recursive implementation–which I'd consider out of scope (and the generic type rules it out anyway). But the

[2016-05-30 20:08] mafagafogigante commented on #65
@ralfstx I think you misunderstood me a little bit. I don't really care if toMap() and toList() are implemented as long as the internal implementation of the current objects is left unchanged. I think they shouldn't be implemented on a lean library, and your arguments against a toMap() seem to make this even more obvious.

You mean equalsIgnoreOrdering(), right? Well, I haven't seen duplicate keys

[2016-05-31 03:32] awvalenti commented on #65
This "duplicate key" thing is a bit scary :)... I was thinking about it yesterday. I thought the JSON spec prohibited it, but it simply says nothing about it, leaving for the implementation to decide. By the way, if duplicate keys are deliberately accepted by minimal-json, I believe it should have unit tests for that. Does it?

In my opinion, toMap would only be useful if recursive.

What if we si

[2016-05-31 03:33] awvalenti commented on #65
@mafagafogigante About the caching issue, you're right, it wouldn't work as expected. I was going to suggest calling ```String.intern(nonCachedString)```, but just found out that it extremely slow!

[2016-05-31 05:19] mafagafogigante commented on #65
I don't know. It is well documented, so I never even bothered checking it. Buy you may check it yourself. And yes, there should be some test cases using duplicate keys.

Additionally, a quick read of the JsonObject tend to make things very clear. But not many users are willing to read through the library code.

And that's what most users would expect it to be.

I agree with you about implementing

[2016-05-31 14:39] mafagafogigante commented on #65
Let's not go there. The implementation has changed a lot in the past few years and I don't think a library should be messing with the string table.

I think this is going to end on implement equalsIgnoreOrdering(), however that is done.

[2016-05-31 18:41] awvalenti commented on #65
Like I said, I gave up suggesting the ```String.intern``` thing.

You're right. If the library allows {a:b, a:b}, equals shouldn't behave this way. (by the way, I created a [pull request](https://github.com/ralfstx/minimal-json/pull/66) with two new unit tests to document the "multi-keys" behavior)

I agree.

I'm not sure if I understood your proposal of solution, but it seemed O(n . log n) to me

[2016-05-31 20:35] mafagafogigante commented on #65
Yes, asymptotical worst case of the simplest one is n · log n, which shouldn't be a big problem. In addition, I couldn't think of a way to test for equality as we want to in linear time.

[2016-06-03 14:06] clasen opened #67 "Json.array() should return JsonArray and it returns JsonValue"
Json.array() should return JsonArray and it returns JsonValue.
I think that this is an issue.

this example:
[code]
don't work without casting

Thanks,

[2016-06-03 14:17] mafagafogigante commented on #67
You are right. Furthermore, other Json#array methods work that way.

[2016-06-03 21:15] ralfstx commented on #67
Absolutely!

[2016-06-11 19:44] tsatatwer opened #68 "Using minimal-json without StringWriter"
I am new to github and  not sure if I am in correct place here??
I am developing a web project and I am  using TeaVM  an ahead-of-time translating compiler (transpiler) from Java bytecode to JavaScript , and it has some restriction of some parts of JDK can used in TeaVM for example java.lang.reflect not fully supported
and among not supported classes is java.io.StringWriter witch used by minimal-j

[2016-06-11 19:49] mafagafogigante commented on #68
I don't think a version of minimal-json which does not use StringWriter already exists. I also do not believe anyone is willing to spend their time working for free for such a specific adaptation.

It seems like you will have to do this yourself.

[2016-06-11 21:17] tsatatwer commented on #68
Are you the author of  minimal-json ?? and what for is developed then??
There are many web projects using GWT and TeaVM  , for my project I have other options witch not include using JSON any way.

[2016-06-11 21:42] mafagafogigante commented on #68
No, I am just a user.

It is developed to be used.

I can barely understand your English. However, I am still going to try to reply.

Why don't you use one of those options or another JSON library? You are not doing anyone a favor by using an open-source library or not. Instead, you are creating noise on an issue tracker about your specific requirements hoping that someone else will do your job fo

[2016-06-12 01:03] tsatatwer commented on #68
Oh many thanks for yours nice words!!! English is not my native language I am a German I try my best.

Noise?? I just ask a small question?? only one post and look to my first line of text :

It seem to me , for you it is very easy to throw bad words on other peoples , I can do the same but NO I will respect this thread and the author of minimal-json.

[2016-06-18 12:26] ralfstx commented on #68
@tsatatwer I'm sorry for not responding yet, I've been too busy these days.

Do you know if `StringWriter` is the only class used in minimal-json that is not supported by GWT and TeaVM? How about `StringReader`, which is used for serialization?

Also, do you know if there is a specific reason for not including this class in these libraries?

[2016-06-19 07:53] #67 closed

[2016-06-19 10:00] ralfstx commented on #65
I think I agree on that. In fact, calling `equals()` on the returned map would in turn call the default `equals()` method on nested JsonObjects. However, the obvious return value for `toMap` would be `Map<String, JsonValue>`, which does not allow for a recursive implementation. Moreover, a recursive method, if used excessively, may result in a performance disaster.

Considering a deep comparison o

[2016-06-19 14:37] tsatatwer commented on #68
Many thanks for your response and sorry for the delay from my side too. I have waited your answer several days and I am happy to get it now.
For TeaVM the StringReader class is supported 100% that mean the class with all its methods are supported and this the link : http://teavm.org/jcl-support/0.3.x/packages/java.io.html

I think both have different reasons not to use all jdk classes, but I don't

[2016-06-19 18:32] ralfstx commented on #68
Looking at this list, it seems that at least `ObjectInputStream` is also unsupported, so I wonder if this would be an issue. As an experiment, could you try to include the source code of `StringWriter` from the JDK and see if your code works?

One more question: If I understand correctly, you're translating Java code to JavaScript, where there is certainly a JSON parser available. Wouldn't it be a

[2016-06-19 22:08] awvalenti commented on #65
Probably. Isn't the ordinary ```equals``` recursive?

[2016-06-22 00:47] tsatatwer commented on #68
Thanks for your suggestion and time I will give it a test and let you know.thanks again

[2016-06-23 01:07] tsatatwer commented on #68
YES it is an option with GWT and for my project at server side I am using minimal-json without any restriction .
So the issue can be closed and I would to thank you for your support and I appreciate your efforts developing such valuable library .

[2016-06-23 01:07] #68 closed

[2016-07-17 22:15] nbartels opened #69 "Unicode signs (like emojis) should be escaped"
I use a Java String with an escaped smiley in it. This looks like:

[code]

The String is used in a JsonObject and as soon as I print the JsonObject the unicode signs are not escaped as expected. As soon as I use this JsonObject with the Facebook Graph API for example, the missing escaping leads to missing emojis.

Afaik this unicode characters may, but not must be escaped so, this may be a bug ..

[2016-07-18 08:16] ralfstx commented on #69
Right, according to RFC 4627, all unicode characters (except `"`, `/`, and control characters) may occur in JSON strings.

Did you make sure that you send the correct HTTP headers for UTF-8 to the server? As a workaround, wouldn't it help to write to a wrapped Writer that transparently encodes unicode chars?

If this solution is unsatisfactory, we should consider a configuration option to minimal-

[2016-07-18 08:48] nbartels commented on #69
Okay thanks. I'll try the wrapped Writer first ;)

[2016-09-29 06:45] s4kibs4mi opened #71 "Json parser from XML"
Requesting a feature to parse JSON from XML data which will create JSON from XML value.

[2016-10-10 08:32] neuhaus commented on #71
What feature? It's already there. You can use any XML parser of your choosing to parse the XML, then use minimal-json to generate the JSON.

[2016-10-10 08:58] ralfstx commented on #71
I agree with @neuhaus. Sounds like you're requesting a convenience API that can be implemented outside of minimal-json. Please keep in mind that this project aims at providing a *minimal* JSON parser / generator.

[2016-10-10 08:58] #71 closed

[2016-10-11 14:41] javaosc-projects opened #72 "How to String convert Object"
how to String json convert oo Object (ps: User) ,String json convert Array (ps: List<User>) and oo Object or Array convert String json, please tell me , thanks , i can not find about the code on the api and example.

[2016-10-12 20:41] ralfstx commented on #72
Sorry, I can't understand your question. What is the *input* you have and what is the *output* you expect?

[2016-10-14 13:12] javaosc-projects commented on #72
**Java class:**

 `public class User {

	private Integer userId;

	private String userName;

	private String password;

	public Integer getUserId() {
		return userId;
	}

	public void setUserId(Integer userId) {
		this.userId = userId;
	}

	public String getUserName() {
		return userName;
	}

	public void setUserName(String userName) {
		this.userName = userName;
	}

	public String getPassword() {

[2016-10-14 19:56] ralfstx commented on #72
[code]

[2016-10-16 12:25] javaosc-projects commented on #72
thanks! Is so simple, If there is such a API would be good. ps: new JsonObject(User user).toString(); or new JsonObject(String jsonStr).toObject(User.class);
Hard coding is not a good solution for Java. What do you think?

GSON example

Object to JSON String:

`ObjectMapper objectMapper = new ObjectMapper();
objectMapper.writeValueAsString(JsonString);`

JSON String to Object:

`ObjectMapper objec

[2016-10-16 14:36] arcticicestudio commented on #72
You are comparing two completely different mechanisms. The idea of this library is to be **not an object mapper**.
Libraries like GSON and Jackson are using reflection to generate JSON from objects which is usefull for [Enterprise](Enterprise)

[2016-10-16 15:21] javaosc-projects commented on #72
yeah~ A few days ago,I attention this class library，i want refer to my framework, because it is so faster and small.  o(∩_∩)o

[2016-10-18 07:18] RS1980 opened #73 "Syntax Error in example JSON"
There is a syntax error in the example JSON in the readme in:
https://github.com/ralfstx/minimal-json#example-extract-nested-contents

the line:     "quantity": 10,
has an erroneous comma at the end.

It took me one hour before I realized that actually the example code had an error... :) which broke my hello world example...

[2016-10-18 07:23] mafagafogigante commented on #73
Should be merged soon, @RS1980.

Thanks for pointing it out.

[2016-10-25 06:44] ralfstx commented on #73
Thanks guys! PR is merged.

[2016-10-25 06:44] #73 closed

[2016-11-17 23:35] mitchhentges opened #75 "Performance comparison to JsonParse"
`minimal-json` is super interesting, and if I knew about it earlier, I probably wouldn't have tried to make my own minimal parser.
However, [JsonParse](https://github.com/mitchhentges/json-parse) and [JsonCompose](https://github.com/mitchhentges/json-compose) now exist.

I've compared `JsonParse` to Jackson, and it outperforms it according to my tests.
Can you add `JsonParse` to the list of librar

[2016-11-18 17:44] mitchhentges commented on #75
I'm working on building my own pull request, but it looks like there's some maven issues:
1. A certificate issue with maven: `(https://repo.maven.apache.org/maven2): hostname in certificate didn't match: <repo.maven.apache.org> != <repo1.maven.org> OR <repo1.maven.org>`
2. `minimal-json` doesn't exist for `${project.version}`
[code]

[2016-12-23 04:24] ohyesx opened #76 "JsonObject.getString(String name, String defaultValue)"
the filed "goback" is Number
but i want to save it use String

String goback = jsonObj.getString("goback", "");

i get error message
ERROR Unexpected error occurred in scheduled task.
java.lang.UnsupportedOperationException: Not a string: 0
at com.eclipsesource.json.JsonValue.asString(JsonValue.java:389)

--------------------------------------------------------
JsonObject
public String getString(S

[2016-12-23 14:47] mafagafogigante commented on #76
No, I don't think so. If you want a String from the JSON file write a string to the JSON file or resolve it on your own application code. Get a value instead of a string, if it is null, resolve how it is best, otherwise, return the result of its toString() method.

The method you are proposing to change is called `getString`, I think most users would not be satisfied if it returned a complex JSON

[2016-12-25 07:46] ohyesx commented on #76
Hi mafagafogigante, thank you for your reply

My english is poor.
I tried to express my problems by google translate.
In fact, I very much agree with the original design
For programmers, this is correct.

But sometimes we may want to be less strict, because json data sources may be some problems
For example, **the data source define the field "goback" is String**, but when I read the url...
**the

[2016-12-25 16:47] mafagafogigante commented on #76
I understand the issue you are having, but I still think it is not the library which should be able to deal with malformed JSON.

[2017-01-09 03:36] #76 closed

[2017-01-11 11:26] mharisce opened #77 "com.eclipsesource.json.Json.parse(String strInput) get stuck in Infinite Loop"
Hi,
I have observed a behavior that com.eclipsesource.json.Json.parse(String strInput) gets stuck in an **infinite loop**. Usually it happens at app-server (wildfly-10.1.0.Final) startup hence it blocks my web-service. Once it is stuck it would keep getting stuck on further web-services calls unless i reboot my app-server. Sometimes rebooting the app-server doesn't resolve this and re-trying a few

[2017-01-11 11:58] mharisce commented on #77
Can you please push 0.9.5 to maven repo?

[2017-01-11 13:56] mafagafogigante commented on #77
@mharisce care to give a minimal reproducible example? I don't see where the issue could be.

[2017-01-11 14:21] dvdme commented on #77
Pushing the latest to maven would be nice

[2017-01-12 09:55] mharisce commented on #77
Please push the latest to maven

[2017-01-13 21:10] ralfstx commented on #77
We absolutely need a piece of example code to reproduce. A thread dump would also help.

Yes, we can release 0.9.5 if it fixes this issue. Do you have an indication that this problem does not occur with master?

[2017-02-17 00:14] mitchhentges commented on #75
Hmm, perhaps I imported the incorrect level of project before. Loading in the top-level `pom.xml` is working like a charm.

[2017-03-16 09:24] manuelp commented on #51
I'm pretty late to the party, anyway FYI here is the above @Gyannea solution using Java 8 [Optional](https://docs.oracle.com/javase/8/docs/api/java/util/Optional.html) class:

[code]

Or using [Functional Java](http://www.functionaljava.org/) (available also for Java 7-, although you'd have to use anonymous classes since method references are not available):

[code]

I also agree that:

* There is

[2017-04-21 13:18] kslysz opened #78 "JMeter Post-procesor BeanShell - No such field Member"
Hi, I've tried to extract values from json responose in JMeter Post-processor BeanShell:

My sample response is:
`{"tableName":"users","tagName":"registered","bundleId":33,"tagId":2,"owner":"JMeter","description":"","locked":false,"properties":{"address":"London","name":"John","id":"95","email":"john@testing.tst"}}`

My BeanShell is:
[code]

I've tried almost the same code (istead of vars.put is S

[2017-05-23 09:07] hcoles opened #79 "Cannot use Json.array() to create inline arrays"
The example shown in the readme of creating an array does not compile

`JsonArray user = Json.array().add("Bob").add(42);`

The return type of `Json.array()` is `JsonValue` rather than `JsonArray` so the add method is not available without casting.

[2017-05-23 09:14] mafagafogigante commented on #79
@hcoles fixed on master [here](https://github.com/ralfstx/minimal-json/blob/master/com.eclipsesource.json/src/main/java/com/eclipsesource/json/Json.java#L153) isn't it?

[2017-05-23 09:18] hcoles commented on #79
Ah, so it is.

When is a release expected?

[2017-05-23 09:18] #79 closed

[2017-12-06 16:42] sbernard31 commented on #77
I face a problem which looks like this.
We have switch recently from Gson to minimal-json for [eclipse/leshan](https://github.com/eclipse/leshan) and sometime our unit tests (launched with maven) get stucked...

This happened almost all the time in our [hudson instance](https://hudson.eclipse.org/leshan/).
I succeed to reproduce it in local, by running tests again and again until it get stucked.

[2017-12-06 17:43] sbernard31 commented on #77
To be honest, I looked at the code since 0.9.4 version and I didn't see what could fix this issue ...

[2017-12-06 20:55] ralfstx commented on #77
@sbernard31 Thanks for the thread dump, that's helpful. As far as I can see, the minimal-json classes `Json` and `JsonValue` are loaded concurrently by two different threads, both of which holding a lock (`<clinit>` is the static initialization of a class and its static fields).

- `pool-1-thread-10` at `com.eclipsesource.json.Json.<clinit>` ([Json.java:63](https://github.com/ralfstx/minimal-json/

[2017-12-07 05:14] arcticicestudio commented on #77
Sounds like a good fix to prevent a deadlock.
Just my opinion about the version: Should be fine to package a `0.9.5` instead of `1.0.0` since this means the library leaves the development state (major of `0`) and enters the production level. In development anything may change any time which also includes the API.

SemVer rule 4:

[2017-12-07 10:41] sbernard31 commented on #77
It sounds to be a well known JVM behavior : https://www.farside.org.uk/201510/deadlocks_in_java_class_initialisation.

I agree about versioning : API break are allowed  with major of `0`.
So if you don't feel ready for a 1.0.0 version, 0.9.5 is possible even with this API break.

Is it possible to have a SNAPSHOT version with this fix in a maven repository soon ? (like sonatype)
Did you plan to de

[2017-12-07 11:03] mafagafogigante commented on #77
Is there any reason not to copy the constructor calls from Json to JsonValue? This would lead to some code duplication but it would not break anything as far as I can see it.

[2017-12-07 11:17] ralfstx commented on #77
@arcticicestudio Good point! Thanks.

@sbernard31 I think our case here is a bit more tricky no *instance* of `Json` is required on initializing `JsonValue`. However, it actually seems to cause a deadlock anyway and its probably something to be generally avoided. Yes, I'm looking into it and try to provide a fix soon.

@mafagafogigante Yeah, I thought about that too. But since it's a long time sin

[2017-12-07 13:27] sbernard31 commented on #77
@mafagafogigante : that's already the case in master since PR https://github.com/ralfstx/minimal-json/pull/60. And the only "con" I see is that we will have 2 instances of each constant (null, false, true) in memory. (not a big deal...)

This could explain why I can not reproduce it locally with a 0.9.5-SNAPSHOT. I would like to test it on the leshan hudson instance but there is not maven reposito

[2017-12-07 13:55] mafagafogigante commented on #77
@ralfstx I don't know. This is a JSON parser. I don't see JSON ever changing, so there should be almost no need for the parser to change.

However, I agree that keeping all that deprecated stuff isn't good and the impact of simply removing it altogether should be fairly small.

[2017-12-09 17:20] ralfstx commented on #77
Considering the amount of breakage even in our own code (still using deprecated API in the performancetest project), I suppose that removing all deprecated API in 0.9.5 would likely break too many projects out there.

So I'd favor @mafagafogigante's proposal to copy the constructor calls for now. Interestingly, it turns out this change has already been made back in d62f55e8f9dc066de9b8e2a1cf702164

[2017-12-09 21:16] ralfstx commented on #77
I have released 0.9.5. Since d62f55e is not included in 0.9.4, I'm confident that this issue will be fixed in 0.9.5.
Thanks everyone for your help and apologies for this long period of idleness on my side.

[2017-12-09 21:16] #77 closed

[2017-12-09 21:24] #69 closed

[2017-12-11 14:32] sbernard31 commented on #77
I try with the v0.9.5 and the hudson build is ok now.
This seems to be fixed.
Thx a lot @ralfstx !

[2018-02-15 12:17] wimjongman opened #85 "Orbit"
Ralf, I love this. Is it in Orbit? If not can you get it in?

[2018-02-16 04:31] ralfstx commented on #85
Thanks Wim! It doesn't appear to be in Orbit, but I remember that some Eclipse project used minimal-json in the past, so you should find something in IPZilla. I'm not active at Eclipse anymore, so I won't be able to maintain an Orbit package, sorry.

[2018-02-16 04:39] ralfstx commented on #85
FWIW, the Eclipse Ditto project seems to use the latest version: http://mvnrepository.com/artifact/com.eclipsesource.minimal-json/minimal-json/usages?p=2

Another Google find: https://github.com/eclipse/kura/issues/749

Maybe one of them can help?

[2018-02-20 08:04] pstanton opened #86 "quoting field names is optional, JsonParser doesn't handle it"
`[{fieldName:"value"}]` is valid json, however JsonParser throws:

[code]

version: 0.9.4

[2018-02-20 14:39] arcticicestudio commented on #86
You mistake JSON with JavaScript. In JavaScript the name must only be quoted if it contains illegal characters like e.g. a dash (`-`) or is a reserved keyword like e.g. `null` or `typeof`.

On the other hand the [JSON specification](https://www.json.org) explicitly says that

Your example code must be changed to

[code]

to be valid JSON.

You can validate JSON using tools like e.g. [a online JSON

[2018-02-20 22:46] pstanton commented on #86
fairnuf

[2018-02-20 22:46] #86 closed

[2018-02-23 11:07] marceloverdijk commented on #43
@ralfstx Is there a reason `JsonObject` has not explicit `has(String name)` method to check if the member is present or not?

To check this now I have to do `jsonObject.get("the_name") != null`, while something like `jsonObject.has("the_name)` would be preferable.

[2018-03-08 14:37] sbernard31 commented on #77
The v0.9.5 behaves better but I still face faces deadlock when I'm building my project.
It seems to be more or less for the same reason than before.

<details>
 <summary>I get a thread dump when tests are stucked </summary>

[code]

</details>

But this times this could be more difficult to fix as this is clearly no easy to  reproduce...
Should we reopen this bug ? or Should we create a new one ?

[2018-03-09 10:29] ralfstx commented on #77
@sbernard31 I'd prefer to open a new bug. Thanks!

[2018-03-09 13:31] sbernard31 opened #88 "Deadlock during Json / JsonValue class initialization"
I face some deadlock during JUnit tests of my maven build.
Some time ago, I was using v0.9.4 and deadlock was always reproducible.
Since v0.9.5 and #77, I face it only sporadically.

<details>
 <summary>Here is a thread dump when tests are stucked with v0.9.5 </summary>

[code]

</details>

[2018-03-30 12:00] Aison0 opened #90 "Feature request: Json.value for object wrappers of primitive types (null support)"
Is it possible it add versions of Json.value that take the wrapped type of supported primitive types? See example below

[code]

[2018-03-30 16:37] bernardosulzbach commented on #90
I'm not against the idea, but maybe this does not belong to minimal JSON.

As you have shown, your own minimal-json wrapper code can quite easily have a single line method that does exactly this.

[2018-04-03 21:07] bernardosulzbach commented on #51
This is an existing and used library. Deployed code relies on it and on its interface. There might be legitimate reasons for changing parts of it, but "it is a minor inconvenience to me" is not one. Your argument for the change is

which makes no sense. You want a default value if it is null, so write your own wrapper around the library. This library already exists and works this way, it should no

[2018-04-08 11:02] nbartels opened #92 "JsonObject as object field breaks Jackson object mapping"
I have a object that contains a minimal-json JsonObject as field and I try to serialise the object with jackson to JSON to store the object as String and deserialise it afterwards. The mechanism is explained here:

http://www.baeldung.com/jackson-object-mapper-tutorial

As soon as I try to deserialise the stored object I run into this error message:
[code]

According to this message the default co

[2018-04-08 20:25] bernardosulzbach commented on #92
I understand the issue you are describing. However, I've never considered having a class with a JsonObject member. Does it make sense in your domain? Is it a payload-like field in a message-like object?

Does Jackson make this possible to fix in the calling code? Such as by registering an object capable of transforming JsonObject into something that Jackson can understand and vice-versa.

[2018-04-12 14:05] CLOVIS-AI opened #94 "Use of Optionals in Java 8"
Since Java 8, Optionals were added to replace `null` when a method can not return a result, as seen in `JsonObject` with the methods `get`, `getInt` ...

Although the current use of default values is convenient, I think it would be good to allow the use of Optionals, as they allow more control.

I am ready to make the changes myself and submit a pull request, but I'm not sure if it's better, regar

[2018-04-12 15:01] bernardosulzbach commented on #94
I think this is a welcome change. First of all, and quite evidently, changing existing signatures will cause compatibility problems. So it should be done through new methods.

However, I don't know if this is justified. The problem that having a default value returned does not tell you whether there was a value or not is solved by simply checking for member existence. Additionally, I'd rather read

[2018-04-12 17:11] CLOVIS-AI commented on #94
What I meant, is the others methods than plain simple `Optional#get`, like:

 - `Optional#ifPresent(lambda-expression)`
 - `Optional#flatMap(lambda-expression)`
 - `Optional#orElse(value)` (the equivalent of the current system with default values)
 - `Optional#orElseGet(lambda-expression)`
 - `Optional#orElseThrow(lambda-expression)`
 - ...

All of which are very convenient. [Optional official doc

[2018-04-13 07:53] sroughley commented on #94
It would be great to have these in the API, but retain the original methods too, which has advantages of not breaking existing API and also avoiding object creation when a simple null check will suffice.

[2018-04-13 09:28] CLOVIS-AI commented on #94
That would mean adding methods like `getOptional`, `getOptionalInt` etc, right?

[2018-04-13 09:33] sroughley commented on #94
Yes, that was how I understood the suggestion -  I would assume in each case the actual method would be something very simple like

    Optional<JsonValue> get(String name) {
        return Optional.ofNullable(get(name));
    }

[2018-04-13 09:38] CLOVIS-AI commented on #94
Mostly, with some differences for primitives because they cannot be null.

[2018-04-13 09:48] sroughley commented on #94
Interesting point.  Most of those methods have a default value as a parameter, so would you just put that into e.g. an `OptionalInt` instead, in which case you would have something like:

    OptionalInt getOptionalInt(String name, int default){
        return OptionalInt.of(getInt(name, default));
    }

(which looks a bit pointless?!), or would you provide a new method something like:

    Optio

[2018-04-13 09:51] CLOVIS-AI commented on #94
I was thinking about the second version.

[2018-04-13 09:54] CLOVIS-AI commented on #94
Also, because the methods `getInt` always have 2 parameters (name & default value), we could simply do something like:

[code]

[2018-04-13 10:09] CLOVIS-AI commented on #94
Well, based on this discussion, I'll open a pull request this week with it

[2018-04-14 19:25] CLOVIS-AI commented on #94
I am currently working on it, and I stumbled upon a problem: something changed between Java 7 and Java 8 in the language specifications related to type inference.

For example, if I write:

[code]

the compiler recognizes `Optional.empty()` as returning `Optional<? extends Object>`, but since Java 8 it should use type inference to guess that the return type is `Optional<Float>`. [Related question

[2018-04-16 10:59] sroughley commented on #94
I think you should be able to use

    return ... : Optional.<Float>empty();

based on pg 138 of Joshua Bloch's 'Efficient Java'

[2018-04-16 13:09] CLOVIS-AI commented on #94
It works, thanks!

[2018-04-17 19:08] drewlane opened #96 "Timeout Period?"
The web service I'm using is very slow and can often takes 30 seconds. The parser seems to be timing out before then. Can I increase the timeout?

[2018-04-17 19:35] bernardosulzbach commented on #96
I don't think that this project should even be measuring parsing time. This is a network problem and should be treated as one. Just start a thread for parsing the input stream and time it out if it takes too long.

[2018-05-01 10:43] romweinstein opened #97 "ArrayIndexOutOfBoundsException when call getString() on JsonObject"
Hi,
In case a JsonObject contains more than 127 fields when removing a filed and than get a field sometimes throws IndexOutOfBoundsException

[example.txt](https://github.com/ralfstx/minimal-json/files/1963547/example.txt)

Run the code on example :
 JsonObject jsonObject = Json.parse(s).asObject();
  jsonObject.remove("x_0");
  jsonObject.getString("x_7",null);

[2018-05-11 00:32] blongstreth commented on #10
I want to be able to fix the pretty print to suite my needs and it appears the JsonWriter is package protected.  Could this be changed to public so that I can write my own print customizations please?

For example, My want to not newline arrays or only indent just the first level items.  Being able to fully control would be nice.

[2018-05-11 08:28] sroughley commented on #10
What about having a PrettyPrintConfig (for example!) interface and a default implementation which would allow users to create their own configurations without changing the JsonWriter visibility?  I would think it would probably be the sort of complicated class in terms of number of possible settings which would be very amenable to a builder class with methods such as #setIndentString(String indent

[2018-05-18 12:51] ralfstx commented on #96
Right, the parser does not have any timeout. It must be another component in your system that times out.

[2018-05-18 12:51] #96 closed

[2018-05-18 13:10] #97 closed

[2018-05-18 13:11] ralfstx commented on #97
Good catch, thanks for the but report @romweinstein!

[2018-05-29 12:40] pbi-qfs commented on #44
@ralfstx Any updates on the parser configuration feature?

[2018-06-11 21:53] rhuankarlus opened #99 ""Expected valid escape sequence" for Windows Paths"
When I try to parse a String that contains a Windows Path like "C:\\MyPath\\Wtv Folder" I get a `Expected valid escape sequence` error.

Example:
[code]
I realized that the library is trying to find out which is the scape inserted but I want to avoid this behavior.

Do you guys noticed that?

[2018-06-16 14:08] acoutts opened #100 "Maven install failing - Source option 5 is no longer supported."
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] minimal-json                                                    [bundle]
[INFO] minimal-json performance tests                                     [jar]
[INFO] build                                                              [pom]
[INFO]
[INFO]

[2018-06-19 16:06] blongstreth opened #101 "Sorting"
Hi:
I was trying to figure out an easy way to sort a JsonObject without being too expense but still work with duplicate members.  In my adventures, I ended up trying the following things:

1.  Deep copy with sort.  I had to do this because JsonObject doesn't have the ability to clear (i.e. no JsonObject.clear method) and reapply the members without being too expensive, I had to copy/clone which is

[2018-06-19 21:42] blongstreth commented on #99
Well, depends on what you are asking.  If I treat your example document as a script file and read it in (or whatever), it works just fine (i.e. no errors).  If I try to translate that to a Java String directly, then you need to escape it further, otherwise you will get the error you mentioned.

This works as expected:
[code]
This does not work which is expected:
[code]
As a sanity check, you can t

[2018-07-09 13:31] carlos-mg89 opened #102 "OutOfMemory error when parsing"
Hi and thanks for sharing your work,

I'm writing this issue since I'm a bit confused when using the minimal json package due to an OutOfMemory error.

I'm using it in an Android project to read a sort of big (10MB) JSON file. And to do that, I thought using a Stream would be the appropriate way, in order to avoid memory issues, but it doesn't seem to be the case. Or at least, I don't know how to

[2018-07-10 15:24] carlos-mg89 commented on #102
I have tried using the GSON package to do the same that I was doing with Minimal JSON, and even though I was forced to perform a careful parsing of the JSON file, it allowed me to read the JSON file, without having the OutOfMemory issues, since I only wanted to read the file to do some processing, which could be done without having to store all the JSON values. Actually, what I wanted is to parse

[2018-07-10 15:24] #102 closed, assigned to nobody

[2018-07-20 13:57] CLOVIS-AI opened #103 "UnsupportedOperationException: Not a string: null"
Here's a small example of the problem:

[code]

When running this, an `UnsupportedOperationException` is thrown. According to the doc of `getString`, however:

So I would expect that it would return the default value (since the value `null` is used to notify that there is no value).

The only way currently to bypass the exception is to set the code to:

```String content = json.get("test").isNull(

[2018-07-20 14:01] CLOVIS-AI commented on #103
Here is an example of a use-case, from reading the contents of a REST response:

[code]

This throws an exception because the server always sends empty fields when there is no value (eg. no bio -> there is a 'bio' field but its value is 'null').

Since "no value" and "value is null" is essentially the same (especially for Strings, in which you can specify "" to say 'empty'), it would be nice that

[2018-07-20 14:19] CLOVIS-AI commented on #103
And in the case where you actually want to know if the object contains the literal `null`, you could still use `json.get("test").isNull()` so no feature is lost.

[2018-08-05 17:40] thekeenant commented on #43
@marceloverdijk I was surprised to find that there wasn't a `has` or `contains`. Seems to be in every other json library. You can also use `names().contains(...)`.

[2018-09-20 16:39] CLOVIS-AI commented on #103
This would make working with this API a lot easier, please at least consider it.

[2018-10-25 12:02] anhvuong1 opened #104 "How to read data from nested JSON"
Hi team,

I worked on JSON Minimal in recent time. Some things look good.
But for now. I got the JSON as below:
{
  "status": "OK",
  "result": {
    "user": [
      {
        "_id": "123",
        "type": "worker"
      },
      {
        "_id": "129",
        "type": "architect"
      }
    ]
  }
}

For now, I want to get data from each of key "_id". For the first. I tried to implement JsonArray

[2019-01-29 06:53] ghost opened #106 "Example for JsonParser/JsonHandler"
Hello developers,

May I ask if you could add examples using `JsonParser`/`JsonHandler` to wiki? It would help a lot. Especially use case of 2 type parameters in `JsonHandler<?, ?>` is not clear in docs.

Thank you,

[2019-01-29 13:19] bernardosulzbach commented on #106
Thank you for the suggestion, @hkcorac. I'm quite busy lately but hopefully this will eventually have some examples.

[2019-01-29 13:23] thjaeckle commented on #106
Hi. In Eclipse Ditto we have an example of an `JsonHandler` implementation:
https://github.com/eclipse/ditto/blob/master/json/src/main/java/org/eclipse/ditto/json/DittoJsonHandler.java
https://github.com/eclipse/ditto/blob/master/json/src/main/java/org/eclipse/ditto/json/DefaultDittoJsonHandler.java

[2019-01-29 16:46] ghost commented on #106
@bernardosulzbach @thjaeckle

Thank you very much. From reading the Eclipse source code, I was able to understand `JsonHandler`. If I could come up with some example I will send it to you. (But I'm sorry I'm not sure...)

[2019-01-29 16:46] #106 closed, assigned to nobody

[2019-01-30 09:29] ghost opened #107 "Improving JsonHandler"
_I'm sorry I think my implementation might cause high performance drop._

[2019-01-31 13:35] LucaGabi opened #108 "Can this be used to deserialize json graph with references preserved ?"
Hi,

   Json.Net C# can serialize to json preserving references, $id and $ref are used to deserialize afterwards. Can this library handle such case ? The benefit is that the resulting json is small with no duplicates.

Thanks.

[2019-02-06 10:31] #107 closed, assigned to nobody

[2019-03-03 20:36] timmyRS opened #109 "Add support for lenient parsing"
minimal-json should (optionally) not throw an exception when faced with _invalid_ JSON that can still be parsed by introducing support for "lenient parsing."

[2019-05-06 09:56] HuxiaoZhang commented on #78
you have a promme jmeter no used this

[2019-05-12 14:53] haruntuncay commented on #44
Hello @ralfstx,
Are the issues open to contributions ? I am interested and would like to contribute to the project. Please inform me whether I can work on any chosen issue or not. Thanks in advance 😊

[2019-05-14 13:51] ralfstx commented on #44
Hi @haruntuncay, I'm not actively maintaining this project and won't have time to review contributions, sorry.

[2019-05-14 13:53] haruntuncay commented on #44
@ralfstx, if you like, I would like to offer my help to maintain it.

[2019-05-21 18:50] vijaychowthri opened #110 "unable to get the value"
i couldnt get the value of "stepid" &  "stepname" for each phase

JsonArray processsingstage = Json.parse(output).asObject().get("data").get("processsingstage").asArray();

How to get the value of stepid for respective "stepname" ?

{
  "iscore": false,
  "issuccess": true,
  "message": "RoadMap for project id P10100 retrieved successfully",
  "data": {
    "project": {
      "opsid": "P10100"

[2019-09-26 04:23] pstanton commented on #88
Correct me, but this sounds easy to fix and it's not been fixed just to provide backwards compatibility? for over a year?

If so, I will begin using another library.

[2019-12-25 02:55] KrispyKream1990 commented on #77
< _ `` _ dependency> <groupId>com.eclipsesource.minimal-json</groupId> <artifactId>minimal-json</artifactId> <version>0.9.4</version> </dependency>

[2020-02-13 14:33] sbernard31 commented on #88
I still face this issue sporadically... This is pretty annoying :confused:
Any chance to get a fix this ?

@pstanton to you still face this issue ?

[2020-02-13 19:10] bernardosulzbach commented on #88
This project is mostly unmaintained, as far as I know. I would suggest either forking it or migrating to a new JSON dependency if this is giving you problems.

Don't get me wrong: I also really liked this library, but sometimes OSS just gets abandoned.

[2020-02-28 09:39] Morty-se opened #112 "Some dependencies contain CVEs"
Hi, I noticed that your project are using vulnerable libraries which are related to some CVEs. In order to avoid threats, I recommend updating to a safe version. See below for details:
* **Vulnerable Library Version:** com.fasterxml.jackson.core : jackson-databind : 2.5.0
  **CVE ID:** [CVE-2017-17485](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-17485), [CVE-2020-8840](https://cve.mitr

[2020-03-10 09:43] MJ-sys opened #114 "Unable to download snapshots"
Link for downloading development snapshots is not working anymore. Link is also mentioned in [README](https://github.com/ralfstx/minimal-json#include)

https://oss.sonatype.org/content/repositories/snapshots/com/eclipsesource/minimal-json/minimal-json/

[2020-06-18 09:43] beclever opened #117 "custommized format of double number's string value"
I have a requirement that If the float(double) value has an exponent, the "e" MUST be in lower
   case.  in our case,when serializing a JsonObject as a String,  For example,
[code]
Because of the internal call to `Json.value(value)`, then `Double.toString(value)`, this becomes `2.1474836471E10`

Since Json is a final class, there are no extensible way to override methods. If we provide an extensio

[2020-06-18 09:56] beclever commented on #117
Since JsonNumber class's access right is the same package, even Json is a non-final class, I can't solve this problem.

[2020-06-18 10:28] sroughley commented on #117
Can yu solve this by creating your own writer? PrettyPrint might show some pointers as to how:

https://github.com/ralfstx/minimal-json/blob/master/com.eclipsesource.json/src/main/java/com/eclipsesource/json/PrettyPrint.java

[2020-06-18 15:14] beclever commented on #117
Since `JsonWriter `class's access right is the same package, I can't extends  it, then I can't create my writer extends `WriteConfig`, and the JsonArray.toString() or the JsonObject.toString() need the WriteConfig as parameters...

[2020-06-18 15:31] beclever commented on #117
is it possible to make some key/common classes'access right to  make them more extensible and configurable

[2020-06-28 15:01] Lord-Toffa opened #119 "Error in updating json file"
Hello,

first of all, thank you! You made a fantastic work with this tool. That's my first isue message in github. If it's incomprensible, pleas, tell it to me, I'll try to be more precise.

I am programming a small supermarket inteface for an Univrsity Project.

I have the follow issue when I try to change a value in my users.json file.

FROM THIS:
{
	"users": [
		{

			"email": "a",
			"password

[2020-06-29 12:41] ralfstx commented on #119
@Lord-Toffa You should file GitHub issues when you're convinced that there's something wrong in `minimal-json`, together with detailed instructions to reproduce the error, or to request new features. This rather seems like a question for [Stack overflow](https://stackoverflow.com/search?q=minimal-json&mixed=1).

[2020-06-29 12:41] #119 closed, assigned to nobody

[2021-07-01 14:46] sbernard31 commented on #88
Just to let you know we finally switch to Jackson.

[2021-07-01 15:19] bernardosulzbach commented on #88
@sbernard31 can you tell me on which JVMs (versions too) you were able to reproduce this problem?

[2021-07-01 15:22] sbernard31 commented on #88
Hard question as this was a long time ago.
If I remember correctly OpenJDK 7 and 8 I guess.
I'm not able to give you more precise information.  :disappointed:

[2021-07-01 15:27] bernardosulzbach commented on #88
IIRC I convinced myself at some point that this was a JDK issue, as the apparent race condition seemed to be fine according to the language specification. I have a strong impression that I *never* saw it on Oracle JDKs.

[2021-07-01 19:40] pstanton commented on #88
you might be right - i've reproduced using
OpenJDK Runtime Environment (build 1.8.0_232-8u232-b09-1~deb9u1-b09)

however the issue is easily fixed and i patched our copy of this lib before moving away from it since. nfi why that wasn't just done years ago.

[2021-07-01 21:08] bernardosulzbach commented on #88
I don't think it could have been patched in any way without breaking existing code. That, combined with the slow death of the project, is why I think this wasn't and will never be fixed.

Regarding moving on from this project: I'd say existing users should either fork (possibly still as OSS, as there may be more people interested) or go for something that is actively maintained. Nobody should at t

[2021-07-01 23:19] pstanton commented on #88
ok, i can't disagree however i would have thought a major version update would have been fine. it is ok to have non-backwards-compatible changes occasionally - especially if it is to solve critical issues such as this.

[2021-07-21 16:09] Schuyweiz opened #124 "Picture cannot be posted on Facebook Pages using byte arrray"
I have followed the code example in the documentation and ended up with a Facebook error, which says, that
'Can't Read Files - Your photos couldn't be uploaded. Photos should be less than 4 MB and saved as JPG, PNG, GIF, TIFF, HEIF or WebP files.'
And yes, the file is within the restrictions given.
Moreover, when I do it through the InputStream method, it works (but it doesn't suit my needs this w

[2021-07-21 16:43] #124 closed, assigned to nobody

[2022-09-24 17:07] tobiasbaum commented on #88
If anybody is still interested in this: I took the PR from pstanton (https://github.com/ralfstx/minimal-json/pull/115), created a version 1.0.0 for it and published a binary in a new fork: https://github.com/tobiasbaum/minimal-json/releases/tag/v1.0.0

If anybody knows how to publish this to Maven Central, I'd be happy to know.